.error-message__container {
  display: flex;
  flex-direction: row;
  align-items: start;

  background-color: #f005;
  border-radius: .5rem;
  padding: .5rem;
  margin: 0rem;
}

.error-message__container__icon {
  width: 2.5rem;
  margin-right: .5rem;
  border-radius: 50%;
}

.error-message__container__message {
  margin: 0rem;
}