.delete-account__container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0009;
  z-index: 100;
}

.delete-account__container__delete__box {
  background-color: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: .8rem;
}

.delete-account__container__delete__box__confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: .8rem;
  width: 20rem;
}

.delete-account__container__delete__box__confirm__form{
  width: 100%;
}

.delete-account__container__button {
  margin: 0rem 1rem;
  width: auto;
  margin-top: 1.5rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background-color: #0f0;
  color: #000;
  font-weight: bold;
  border: .1rem solid #000;
  cursor: pointer;
}

.delete-account__container__delete__box button:nth-child(2) {
  background-color: #f006;
}