.formLogin__container__input {
  width: 100%;
  padding: .8rem 0rem;
  margin: 8px 0;
}

.has-error::placeholder {
  color: #f00;
}

.has-error {
  border: none;
  outline: none;
  border-bottom: .13rem solid #f00;
}

.not-error {
  border: none;
  outline: none;
  border-bottom: .13rem solid #535353;
  box-sizing: border-box;
}

.formLogin__container__errorBox {
  color: #f00;
}