.update-profile-img__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;

  display: flex;
  align-items: center;
  justify-content: center;
}

.update-profile-img__modal {
  background: white;
  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.3);
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0rem;
}

.update-profile-img__modal__close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  background-color: #ff0000;
  position: absolute;
  top: -.6rem;
  right: -.6rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.update-profile-img__modal__selected-img {
  width: 100%;
  height: auto;
  padding: .5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-profile-img__modal__selected-img__img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: .5rem;
  object-fit: cover;
}

.update-profile-img__modal__drop-img {
  width: 100%;
  height: 10rem;
  border: .3rem dashed #2196F3;
  background-color: #E3F2FD;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dragging {
  border: .3rem solid #2196F3;
}

.update-profile-img__modal__drop-img__message {
  width: 100%;
  height: 100%;
  padding: 0rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.update-profile-img__modal__buttons {
  display: flex;
  gap: 0rem 1rem;
}

.update-profile-img__modal__buttons__button {
  width: 6rem;
  height: 2rem;
  border-radius: .5rem;
  cursor: pointer;
  font-weight: 500;
}

.update-profile-img__modal__buttons__button:hover {
  background-color: #000;
  color: #fff;
}